In [1]:
import os
import pandas as pd

In [2]:
info_df = pd.read_csv('../data/info.csv')
info_df.head()

,artist_name,title,album_name,track_id,song_id,year,id
0,Faster Pussy cat,Silent Night,Monster Ballads X-Mas,TRMMMYQ128F932D901,SOQMMHC12AB0180CB8,2003,0
1,Karkkiautomaatti,Tanssi vaan,Karkuteillä,TRMMMKD128F425225D,SOVFVAK12A8C1350D9,1995,1
2,Hudson Mohawke,No One Could Ever,Butter,TRMMMRX128F93187D9,SOGTUKN12AB017F4F1,2006,2
3,Yerba Brava,Si Vos Querés,De Culo,TRMMMCH128F425532C,SOBNYVR12A8C13558C,2003,3
4,Der Mystic,Tangle Of Aspens,Rene Ablaze Presents Winter Sessions,TRMMMWA128F426B589,SOHSBXH12A8C13B0DF,0,4

In [3]:
save_dir = '../utils/downloaded_tracks/'
def is_in_downloaded_tracks(row):
    artist = str(row.artist_name)
    title = str(row.title)
    artist = artist.lower().replace(' ', '_').replace('(', '').replace(')', '')
    title = title.lower().replace(' ', '_').replace('(', '').replace(')', '')
    track_save_dir = os.path.join(save_dir, artist)
    track_save_path = os.path.join(track_save_dir, title + '.mp3')
    
    return os.path.isfile(track_save_path)

In [4]:
downloaded_ids = [row.id for _, row in info_df.iterrows() if is_in_downloaded_tracks(row)]

In [5]:
len(downloaded_ids), info_df.shape

(2096, (1000000, 7))

In [6]:
downloaded_ids = set(downloaded_ids)

In [7]:
info_df_trunc = info_df[info_df['id'].isin(downloaded_ids)]
info_df_trunc.head()

,artist_name,title,album_name,track_id,song_id,year,id
82,Hex,Subtek,Tone Tales From Tomorrow,TRMMWFG128F92DFAA2,SOMPUGR12A8C146F57,0,82
96,Felt,Whaleface (Instrumental),Felt 3: A Tribute To Rosie Perez [Instrumental...,TRMMWJP12903CD8807,SOUKOKB12AB018A808,0,96
154,DJ Rupture,B15 Apna Sangheet Sings Apna Sangsheet_ Ruled ...,Minesweeper,TRMMGYG128F4268B2A,SOJUTQH12A8C13D5F3,0,154
285,The Chariot,Back To Back,The Fiancée,TRMMRZW128EF34DF59,SOVIBLK12A6D4F9E02,2007,285
584,Los Amantes De Lola,Valiums A Tu Tia,Rock En Espanol - Lo Mejor De Los Amantes De Lola,TRMMIMB128F92F6356,SOCQZVP12AAF3B2D0F,0,584

In [8]:
def track_path(row):
    artist = str(row.artist_name)
    title = str(row.title)
    artist = artist.lower().replace(' ', '_').replace('(', '').replace(')', '')
    title = title.lower().replace(' ', '_').replace('(', '').replace(')', '')
    track_save_dir = os.path.join('.', artist)
    track_save_path = os.path.join(track_save_dir, title + '.mp3')
    return track_save_path[2:]

In [9]:
info_df_trunc['track_path'] = info_df_trunc.apply(track_path, axis=1)

/Users/alexkirnas/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [10]:
from mutagen.mp3 import MP3

def get_track_length(track_path):
    path = os.path.join('../utils/downloaded_tracks/', track_path)
    if os.path.isfile(path):
        audio = MP3(path)
        return audio.info.length
    else:
        return -1

In [11]:
info_df_trunc['length'] = info_df_trunc['track_path'].map(get_track_length)

/Users/alexkirnas/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [12]:
info_df_trunc.head()

,artist_name,title,album_name,track_id,song_id,year,id,track_path,length
82,Hex,Subtek,Tone Tales From Tomorrow,TRMMWFG128F92DFAA2,SOMPUGR12A8C146F57,0,82,hex/subtek.mp3,199.105300
96,Felt,Whaleface (Instrumental),Felt 3: A Tribute To Rosie Perez [Instrumental...,TRMMWJP12903CD8807,SOUKOKB12AB018A808,0,96,felt/whaleface_instrumental.mp3,179.586667
154,DJ Rupture,B15 Apna Sangheet Sings Apna Sangsheet_ Ruled ...,Minesweeper,TRMMGYG128F4268B2A,SOJUTQH12A8C13D5F3,0,154,dj_rupture/b15_apna_sangheet_sings_apna_sangsh...,201.946667
285,The Chariot,Back To Back,The Fiancée,TRMMRZW128EF34DF59,SOVIBLK12A6D4F9E02,2007,285,the_chariot/back_to_back.mp3,93.093333
584,Los Amantes De Lola,Valiums A Tu Tia,Rock En Espanol - Lo Mejor De Los Amantes De Lola,TRMMIMB128F92F6356,SOCQZVP12AAF3B2D0F,0,584,los_amantes_de_lola/valiums_a_tu_tia.mp3,275.382812

In [13]:
info_df_trunc.to_csv('../data/info_trunc.csv', index=False)

In [14]:
training_df = pd.read_csv('../data/training.csv')
training_df.head()

,artist_familiarity,artist_hotttnesss,danceability,duration,energy,key,key_confidence,loudness,mode,mode_confidence,song_hotttnesss,tempo,time_signature,time_signature_confidence,end_of_fade_in_relative,start_of_fade_out_relative,id
0,0.649822,0.394032,0.0,252.05506,0.0,10,0.777,-4.829,0,0.688,0.542899,87.002,4,0.940,0.008129,0.938823,0
1,0.439604,0.356992,0.0,156.55138,0.0,9,0.808,-10.555,1,0.355,0.299877,150.778,1,0.000,0.001648,0.949592,1
2,0.643681,0.437504,0.0,138.97098,0.0,7,0.418,-2.060,1,0.566,0.617871,177.768,4,0.446,0.000000,1.000000,2
3,0.448501,0.372349,0.0,145.05751,0.0,7,0.125,-4.654,1,0.451,0.000000,87.433,4,0.000,0.000000,0.956083,3
4,0.000000,0.000000,0.0,514.29832,0.0,5,0.097,-7.806,0,0.290,0.000000,140.035,4,0.315,0.000000,0.985259,4

In [15]:
training_df_trunc = training_df[training_df['id'].isin(downloaded_ids)]
training_df_trunc.to_csv('../data/training_trunc.csv', index=False)

In [41]:
triplets_df = pd.read_csv('../data/training_triplets.csv')
triplets_df.head()

   track_listen_count  user_id  track_id
0                   1   108811    448841
1                   1    83893    448841
2                   1    84614    448841
3                   2    98036    448841
4                   4    80305    448841

In [45]:
triplets_df_trunc = triplets_df[triplets_df['track_id'].isin(downloaded_ids)]

In [46]:
triplets_df_trunc = triplets_df_trunc.assign(user_id=1)

In [48]:
triplets_df_trunc = triplets_df_trunc.groupby(by=['user_id', 'track_id']).sum().unstack()
triplets_df_trunc.head()

         track_listen_count                                                   \
track_id             285    3896   6531   10202  11561  12768  14008  16489
user_id
1                         2     13      2      1      3      1      7     23

                        ...                                              \
track_id 21654  27734   ...   979330 982674 983823 985617 987053 988011
user_id                 ...
1             1      9  ...        2      8      1    106      1      4


track_id 988340 997320 998593 999589
user_id
1             1    106     73     15

[1 rows x 357 columns]

In [54]:
triplets_df_trunc = pd.melt(triplets_df_trunc).drop(None, axis=1)

In [55]:
triplets_df_trunc['user_id'] = 1

In [58]:
triplets_df_trunc.rename(columns={'value': 'track_listen_count'}, inplace=True)
triplets_df_trunc.head()

   track_id  track_listen_count  user_id
0       285                   2        1
1      3896                  13        1
2      6531                   2        1
3     10202                   1        1
4     11561                   3        1

In [59]:
triplets_df_trunc.to_csv('../data/training_triplets_trunc.csv', index=False)